#about {
    width: 100vw;
    height: 100vh;
    /* background: #212228; */
    position: absolute;
    transition: 0.1s ;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    scroll-behavior: smooth!important;
    margin: 0 0 10% 0;
}
#about::-webkit-scrollbar {
    display: none;
}
#about #bgtext {
    z-index: -1;
}
.txt {
    font-size: 23px;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
    transform: scale(1.1, 1);
    letter-spacing: 5px;
    /* left: 145px; */
}
#aboutText {
    position: relative;
    top: 69px;
    width: 75%;
    left: 145px;
}
#aboutText span {
    color: #E75555;
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
}
#aboutTxt {
    position: relative;
    /* top: 450px; */
    left: 135px;
    width: 50%;
}
#aboutTxt span {
    color: #E75555;
    font-size: 25px;
    -webkit-text-stroke-width: 2px;
}
#scroller {
    position: relative;
    top: 175px;
    left: 210px;
    color: #A8A8A8;
    font-weight: bold;
    letter-spacing: 6px;
}
#scroller::before {
    content: '';
    position: absolute;
    width: 1.1px;
    height: 175px;
    background-color: #A8A8A8;
    top: 45px;
    left: 39px;
}
#aboutContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    top: 450px;
}
#aboutImg {
    /* background: url(/IMG/Jayden-May.jpg); */
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/IMG/Jayden-May.jpg);
    /* background-size: cover; */
    width: 278px;
    height: 250px;
    position: absolute;
    position: relative;
    left: 22%;
}