#project {
    width: 100vw;
    height: 100vh;
    /* background: #212228; */
    position: absolute;
    transition: 3s ease-in-out;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth!important;
    top: 1385px;
}
#project::-webkit-scrollbar {
    display: none;
}
#project #bgtext {
    z-index: -1;
}
#projectHeading {
    position: relative;
    left: 165px;
    top: 69px;
    font-size: 50px;
    color: #E75555;
}
.filter_buttons {
    position: relative;
    top: 74px;
    font-size: 18px;
    margin: 5% 0 0 0;
    display: flex;
    justify-content: center;
}
.filter {
    padding: 0 3% 0 0;
}
.projects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5% 0 0 0;
    position: relative;
    top: 120px;
}
  .projects-heading {
    font-size: clamp(31px, 5vw, 90px);
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    margin-top: 6%;
    margin-left: 8%;
    margin-bottom: 5%;
    color: #eeeeee;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    min-width: 280px;
    position: relative;
    background-position: center;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 20px 30px;
    margin: 10px;
    min-height: 430px;
}
  
.project-heading {
    font-size: clamp(40px, 5vw, 40px);
    font-weight: 200;
    color: #E75555;
}
.project-tool {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 20px;
}
.project-description {
    font-family: "inter", sans-serif;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}
.project-buttons a {
    text-decoration: none;
    color: white;
    position: relative;
}
.project-buttons {
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-around;
    font-weight: 200;
    font-size: 14px;
}
/* .project1 {
    background: linear-gradient(rgba(17, 17, 17, 0.68), rgba(17, 17, 17, 0.68)),
      url(/images/project_images/testimonial.png);
    background-position-y: center;
    background-size: cover;
} */
  
.project2 {
    background: linear-gradient(rgba(17, 17, 17, 0.68), rgba(17, 17, 17, 0.68)),
      url(https://jayden-may-portfolio.netlify.app/Images/img2.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project3 {
    background: linear-gradient(rgba(17, 17, 17, 0.68), rgba(17, 17, 17, 0.68)),
      url(https://jayden-may-portfolio.netlify.app/Images/img1.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project4 {
    background: linear-gradient(rgba(17, 17, 17, 0.68), rgba(17, 17, 17, 0.68)),
      url(https://jayden-may-portfolio.netlify.app/Images/img9.png);
    background-size: cover;
    background-position-x: center;
}
.project5 {
    background: linear-gradient(rgba(17, 17, 17, 0.68), rgba(17, 17, 17, 0.68)),
      url(https://jayden-may-portfolio.netlify.app/Images/img5.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project6 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)),
      url(https://jayden-may-portfolio.netlify.app/Images/img8.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project7 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)),
      url(https://jayden-may-portfolio.netlify.app/Images/img7.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project8 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)),
      url(https://jayden-may-portfolio.netlify.app/Images/img4.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project9 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)),
      url(https://jayden-may-portfolio.netlify.app/Images/img19.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}
.project10 {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0.8)),
      url(https://jayden-may-portfolio.netlify.app/Images/img20.png);
    background-position-y: center;
    background-size: cover;
    background-position-x: center;
}