nav {
    background: #1B1B1B;
    width: 40%;
    margin: 16px 190px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 65px;
    position: fixed;
    z-index: 1;
}
.navImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0 0 2%;
}
.link {
    text-decoration: none;
    font-weight: bold;
    color: #717171;
    font-size: 17px;
    margin: 0 0 0 18px;
}
.link:hover {
    color:#FFFFFF;
}